[submodule "themes/charaka"]
	path = themes/charaka
	url = https://github.com/natarajmb/charaka-hugo-theme.git
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
